name: GenerateBaseline 

on:

  workflow_dispatch:
  # schedule:
  #   - cron: "15 11,23 * * 2,3"

    
jobs:

  baseline_job:
    runs-on: ubuntu-latest
    steps:

    # Checkout the python tools repo
    # -------------------------------------------      
    - name: checkout python tools repo
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        repository: 'Predizioni-Epidemiologiche-Italia/hub-tools'
        ref: 'main'
        path: './tools/'

    # Checkout the data repository
    # -------------------------------------------      
    - name: checkout data repo
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        repository: 'Predizioni-Epidemiologiche-Italia/Influcast'
        ref: 'main'
        path: './repo/'


    
    # Run Pyton code
    # -------------------------
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10' 
    
    - run: pip install pandas==1.2.5 numpy==1.22.4 isoweek==1.3.3
    
    - name: Pyhton
      id: compute_baseline
      run: |
        python ./tools/code/quantile_baseline.py -season "2023-2024"

    - name: Commit data repo changes
      uses: EndBug/add-and-commit@v7
      with: 
          cwd: './repo'
          message: "Update data storage"
          default_author: github_actions
          push: true

    # Save changes to artifact for later persisting 
    - name: Save changes to artifact
      env:
        changed_files: ${{ steps.compute_baseline.outputs.baseline_file }}
      run: |
        echo "{ \"pr-changes\" : \"previsioni/Influcast-quantileBaseline/$changed_files\" }" > pr_changes.json
          
    - name: Upload changes
      uses: actions/upload-artifact@v2
      with:
        name: pr_changes
        path: ./pr_changes.json
  
