name: "GenerateEnsemble"
on:

  workflow_dispatch:

  # scheduled run every Wednesday at 03.00 a.m. (Wednesday 02.00 a.m.UTC)
  # TODO for the time being upload is Thursday at 03.00 a.m. (Thursday 02.00 a.m. UTC)
  schedule:
    #- cron: '00 02 * * 3'
    - cron: '20 11 * * 3'

    
jobs:

  ensemble_job:
    runs-on: ubuntu-latest
    steps:

    # Checkout the python tools repo
    # -------------------------------------------      
    - name: checkout python tools repo
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        repository: 'Predizioni-Epidemiologiche-Italia/hub-tools'
        ref: 'main'
        path: './tools/'

    # Checkout the data repository
    # -------------------------------------------      
    - name: checkout data repo
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        repository: 'Predizioni-Epidemiologiche-Italia/Influcast'
        ref: 'main'
        path: './repo/'


    
    # Run Pyton code
    # -------------------------
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10' 
    
    - run: pip install pandas==1.2.5 isoweek==1.3.3
    
    - name: Pyhton
      id: compute_ensemble
      run: |
        python ./tools/code/compute_ensemble.py

    - name: Commit data repo changes
      uses: EndBug/add-and-commit@v7
      with: 
          cwd: './repo'
          message: "Update data storage"
          default_author: github_actions
          push: true

    # Save changes to artifact for later persisting 
    - name: Save changes to artifact
      env:
        changed_files: ${{ steps.compute_ensemble.outputs.ensemble_file }}
      run: |
        echo "{ \"pr-changes\" : \"previsioni/Influcast-Ensemble/$changed_files\" }" > pr_changes.json
          
    - name: Upload changes
      uses: actions/upload-artifact@v2
      with:
        name: pr_changes
        path: ./pr_changes.json
  
